.quote {
  margin: 0 auto;
  margin-top: 5em;
  max-width: 80%;
  text-align: center;
}

q {
  font-style: italic;
}

.author {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .quote {
    max-width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
